#pycache
app/pycache/
app/management/commands/pycache/
app/migrations/pycache/
simulador_apv/pycache/

#migraciones (excepto las necesarias)
app/migrations/*.py

#archivos de configuracion
*.pyc

#media
media/

#venv
venv/

#todo
todo

#db
db.sqlite3